.vscode
lib/
renpy/

errors.txt
log.txt
traceback.txt

compiled_alpha.exe
compiled_alpha.py
compiled_alpha.sh

TranslationFile.zip


game/gui/
game/images/
game/menubutton/
game/movies/
game/music/
game/omic/
game/saves/
game/system/
game/temp/
